body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.video-box {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
}

video {
  width: 100%;
  border-radius: 10px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.controls button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.controls button:nth-child(2) {
  background: red;
}

.controls button:nth-child(3) {
  background: green;
}

#gallery {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.card {
  background: #1e293b;
  padding: 8px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download {
  background: #22c55e;
}

.delete {
  background: #ef4444;
}
